<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.FoodMapper">
	<!-- 
		<trim> 추가 / 제거
		prefix : 앞에 추가
		suffix : 뒤에 추가
		prefixOverrides : 맨 앞에 있는 OR 제거
		suffixOverrides : 뒤에 제거
		
		WHERE (name LIKE '%'||#{ss}||'%') OR () OR () OR ()
		
			(name LIKE '%'||#{ss}||'%')
			(address LIKE '%'||#{ss}||'%')
			(type LIKE '%'||#{ss}||'%')
			(theme LIKE '%'||#{ss}||'%')
	 -->
	<select id="foodFindData" resultType="FoodVO" parameterType="hashmap">
		SELECT fno,poster,name,num
		FROM (SELECT fno,poster,name,rownum as num 
		FROM (SELECT fno,poster,name 
		FROM project_food 
		WHERE 
			<trim prefix="(" suffix=")" prefixOverrides="OR">
				<foreach collection="fdArr" item="fd">
					<trim prefix="OR">
						<choose>
							<when test="fd=='N'.toString()">
								name LIKE '%'||#{ss}||'%' 
							</when>
							<when test="fd=='A'.toString()">
								address LIKE '%'||#{ss}||'%' 
							</when>
							<when test="fd=='T'.toString()">
								type LIKE '%'||#{ss}||'%' 
							</when>
							<when test="fd=='M'.toString()">
								theme LIKE '%'||#{ss}||'%' 
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		ORDER BY fno ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="foodTotalPage" resultType="int" parameterType="hashmap">
		SELECT CEIL(COUNT(*)/12.0) FROM project_food
		WHERE 
			<trim prefix="(" suffix=")" prefixOverrides="OR">
				<foreach collection="fdArr" item="fd">
					<trim prefix="OR">
						<choose>
							<when test="fd=='N'.toString()">
								name LIKE '%'||#{ss}||'%' 
							</when>
							<when test="fd=='A'.toString()">
								address LIKE '%'||#{ss}||'%' 
							</when>
							<when test="fd=='T'.toString()">
								type LIKE '%'||#{ss}||'%' 
							</when>
							<when test="fd=='M'.toString()">
								theme LIKE '%'||#{ss}||'%' 
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
	</select>
</mapper>